*{
    font-family: "Open Sans", sans-serif;
}

.radial-gradient {
    width: auto;
    height: 67vh;
    background-image: radial-gradient(farthest-corner at center, #8C00AF 0%, black 100%);
}

h1{
    color: #fff;
    font-weight: 1;
    text-align: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 2px;
}

h1 i{
    font-size: 80px;
    margin-bottom: 25px;
}

h2{
    color: #fff;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 50;
    margin-top: 0;
}

.link{
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    width: fit-content;
    padding: 5px 5px;
    border-radius: 8px;
    border: 3px solid;
}




@media only screen and (max-width: 600px){

    .radial-gradient{
        height: 62vh;
        width: 100%;
    }
    
    h1{
        font-size: 12px;
        margin-top: 250px;
    }

    h2{
        font-size: 10px;
    }
}
